/*
--------------------------------------------
|               About Styling              |
--------------------------------------------
*/
#about-me {
    // Local Variables
    $size-font--description: 16px;

    // Styles
    height: 100%;

    .about-me-grid {
        @include vertical-center();
    }
    .about-me-image {
        margin: 0 auto;
        @include vertical-center();
    }
    .about-me-description {
        @include vertical-center();
        font-size: $size-font--description;
    }
}
