/*
--------------------------------------------
|               About Styling              |
--------------------------------------------
*/
.about {
    // Local Variables
    $size-font--description: 14px;

    // Styles
    height: 100%;

    .about-me-image {
        margin: 0 auto;
        //@include vertical-center();

        // Important needed to override semantic styling
        width: 250px !important;
    }
    .about-me-description {
        //@include vertical-center();
        font-size: $size-font--description;
        margin-top: 40px;
        line-height: 24px;
        text-align: justify;
    }

    // Tablet portrait styling (>480)
    @include for-tablet-portrait-up {
        .about-me-image {
            // Important needed to override semantic styling
            width: 300px !important;
        }
        .about-me-description {
            line-height: 1.5;
        }
    }

    // Tablet landscape styling (>767)
    @include for-tablet-landscape-up {
        .about-me-description {
            margin-top: 0;
        }
        .about-me-column {
            //display: inline-block;
            width: 100%;
        }
        .about-me-column.description {
            margin-left: 30px;
        }
        .about-me-header {
            font-size: 24px;
        }
        // Hacky fix for semantics grid columns not vertically centering correctly on iOS
        .container-inner {
            display: flex;
            align-items: center;
        }
    }

    // Desktop styling (>1024)
    @include for-desktop-up {
        .about-me-description {
            line-height: 1.8;
        }
    }
}
