/*
---------------------------------------------
|               Global Styling              |
---------------------------------------------
*/
#fullpage {
    .section {
        text-align: center;
        padding-top: $size-height--navbar;
    }
}
html, body {
    font-family: $font-family--site;
}
body {
    visibility: hidden;
    background-image: url("../data/images/backgrounds/background-geometric-6.jpg");
    background-color: rgba(71, 163, 218, 0.02);
    background-blend-mode: multiply;
}
a, body {
    color: rgba(64,64,64,.9);
}
a {
    @include transition(0.5s);
}
.container-inner {
    text-align: center;
    width: 85%;
    margin: 0 auto;
    font-size: 0;
    @include vertical-center-2();
}
.fade-in-block {
    opacity: 0;
}
.image {
    text-align: center;
}
.about, .experience, .contact {
    //display: flex;
    //justify-content: center;
    //align-items: center;
    position: relative;
}

// Tablet portrait styling (>480)
@media #{($break-mobile)} {
    .container-inner {
        width: 75%;
    }
}

// Modal styling
.modal {
    text-align: center;
    font-size: 0;

    .experience-modal-location {
        text-align: center;
        font-size: 20px;
        margin: 10px;
        font-weight: bold;
    }
    .experience-modal-role {
        text-align: center;
        font-size: 18px;
        margin: 10px;
        font-style: italic;
    }
    .experience-modal-time {
        text-align: center;
        font-size: 12px;
        margin:10px;
    }
    .experience-modal-description {
        font-size: 11px;
        margin-top: 15px;
        text-align: left;
    }
    .experience-modal-image {
        height: 120px;
        width: 120px;
    }
    .description {
        padding: 0 !important;
    }
}
