/*
----------------------------------------------
|               Contact Styling              |
----------------------------------------------
*/
.contact {
    // Local Variables
    $size-font--icons:          40px;
    $size-margin--icons:        10px;

    // Styling
    height: 100%;

    .contact-image {
        margin: 0 auto;
        height: auto;
        width: 100px;
    }
    .contact-container {
        @include vertical-center();
    }
    .contact-icon-container {
        font-size: 12px;
    }
    .contact-icon {
        display: block;
        margin-bottom: 10px;
        font-size: 30px;
    }
    .five.column {
        // Important needed to override semantic styling
        margin-top: 0 !important;
    }

    // Footer styling
    .footer {
        width: 100%;
        height: $size-height--navbar;
        text-align: center;
        bottom: 0;
        position: absolute;
        box-shadow: 0 -1px 2px 0 rgba(34,36,38,.15);
        @include transition(0.5s);

        .footer-link {
            font-size: $size-font--icons;
            margin: 0 $size-margin--icons;
        }
        .footer-links {
            @include vertical-center();
        }
    }

    // Tablet portrait styling (>480)
    @media #{($break-mobile)} {
        .contact-image {
            height: 200px;
            width: 150px;
        }
    }
}
