/*
-------------------------------------------------
|               Experience Styling              |
-------------------------------------------------
*/
.experience {
    // Local Variables
    $color-gray--experience-hover-text: #323232;
    $color-gray--experience-text: #656565;
    $size-font--experience-text: 12px;
    $size-padding--experience-tile: 10px;
    $size-height--experience-image-container: 130px;

    // Styling
    @include vertical-center();

    .experience-tile {
        display: inline-block;
        padding-left: $size-padding--experience-tile;
        padding-top: $size-padding--experience-tile;
        width: 50%;
        cursor: pointer;

        &:hover {
            .experience-text {
                color: $color-gray--experience-hover-text;
                text-shadow: 0 0 1px rgba(0,0,0,.5);
            }
            .experience-text-overlay {
                opacity: 1;

                // Comment this out if you want hover text on the tiles
                display: none;
            }
            .experience-image {
                transform: scale(1.1);
                -webkit-filter: brightness(45%);
            }
        }
    }
    .experience-image-container {
        box-shadow: 2px 2px 2px #888888;
        height: $size-height--experience-image-container;
        overflow: hidden;
        position: relative;
    }
    .experience-image {
        @include transition(0.3s ease-in-out);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;

        &.vodori {
            background-image: url('../data/images/tiles/vodori.jpg');
        }
        &.argonne {
            background-image: url('../data/images/tiles/argonne.jpg');
        }
        &.illinois {
            background-image: url('../data/images/tiles/illinois.JPG');
        }
        &.illini-media {
            background-image: url('../data/images/tiles/illini-media.jpg');
        }
        &.housing {
            background-image: url('../data/images/tiles/housing.jpg');
        }
        &.ultimate {
            background-image: url('../data/images/tiles/ultimate.jpg');
        }
        &.ultimate-website {
            background-image: url('../data/images/tiles/ultimate-website.jpg');
        }
    }
    .experience-text {
        color: $color-gray--experience-text;
        font-size: $size-font--experience-text;
        margin: 0;
        padding-top: 3px;
        @include transition(0.3s);
        display: none;
    }
    .experience-text-overlay {
        @include vertical-center-2();
        @include transition(0.3s);
        font-size: $size-font--experience-text;
        color: white;
        opacity: 0;
        width: 80%;
        -webkit-backface-visibility: hidden;
    }

    // Tablet portrait styling (>767)
    @media #{($break-tablet-portrait)} {
        .experience-tile {
            width: 33%;
        }
        .experience-image-container {
            height: 170px;
        }
        .experience-text-overlay {
            font-size: 14px;
        }
        .experience-text {

            // Comment this out if you don't want names underneath the tiles
            display: block;
        }
    }

    // Tablet landscape styling (>1024)
    @media #{($break-tablet-landscape)} {
        .experience-tile {
            width: 25%;
        }
        .experience-image-container {
            height: 200px;
        }
        .experience-text-overlay {
            font-size: 1rem;
        }
    }
}
