/*
-------------------------------------------------
|               Experience Styling              |
-------------------------------------------------
*/
.tiles {
    // Local Variables
    $size-font--experience-text: 12px;
    $size-padding--experience-tile: 10px;
    $size-height--experience-image-container: 100px;

    // Styling
    height: 100%;

    .experience-tile {
        display: inline-block;
        padding-left: $size-padding--experience-tile;
        padding-top: $size-padding--experience-tile;
        width: 50%;
        cursor: pointer;

        &:hover {
            .experience-text {
                text-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
                color: $color-black;
            }
            .experience-text-overlay {
                opacity: 1;

                // Comment this out if you want hover text on the tiles
                display: none;
            }
            .experience-image {
                transform: scale(1.10);
                -webkit-filter: brightness(65%);
            }
        }
    }
    .experience-image-container {
        box-shadow: 2px 2px 2px #888888;
        height: $size-height--experience-image-container;
        overflow: hidden;
        position: relative;
    }
    .experience-image {
        transition: 0.5s;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        transform: scale(1.03);

        // Experience tiles
        &.vodori {
            background-image: url('../assets/images/experience/tiles/vodori.jpg');
        }
        &.argonne {
            background-image: url('../assets/images/experience//tiles/argonne.jpg');
        }
        &.illinois {
            background-image: url('../assets/images/experience/tiles/illinois.jpg');
            background-position: top center;
        }
        &.illini-media {
            background-image: url('../assets/images/experience/tiles/illini-media.jpg');
            background-position: top center;
        }
        &.housing {
            background-image: url('../assets/images/experience/tiles/housing.jpg');
        }
        &.ultimate {
            background-image: url('../assets/images/experience/tiles/ultimate.jpg');
            background-position: bottom center;
        }

        // Project tiles
        &.eric-photography {
            background-image: url('../assets/images/projects/tiles/eric-photography-website.png');
            background-position: bottom center;
        }
        &.illini-ultimate {
            background-image: url('../assets/images/projects/tiles/illinois-ultimate-website.jpg');
            background-position: bottom center;
        }
        &.lindsey-and-nate {
            background-image: url('../assets/images/projects/tiles/lindsey-and-nate-website.png');
            background-position: bottom center;
        }
    }
    .experience-text {
        font-size: $size-font--experience-text;
        margin: 0;
        padding-top: 3px;
        transition: 0.5s;
        display: none;
    }
    .experience-text-overlay {
        transition: 0.5s;
        font-size: $size-font--experience-text;
        color: white;
        opacity: 0;
        width: 80%;
        -webkit-backface-visibility: hidden;
    }

    // Tablet portrait styling (>480)
    @include for-tablet-portrait-up {
        .experience-image-container {
            height: 135px;
        }
        .experience-text {
            // Comment this out if you don't want names underneath the tiles
            display: block;
        }
    }

    // Tablet landscape styling (>767)
    @include for-tablet-landscape-up {
        .experience-tile {
            width: 33%;
        }
        .experience-image-container {
            height: 170px;
        }
        .experience-text-overlay {
            font-size: 14px;
        }
    }

    // Desktop styling (>1024)
    @include for-desktop-up {
        .experience-tile {
            width: 25%;
        }
        .experience-image-container {
            height: 215px;
        }
        .experience-text-overlay {
            font-size: 1rem;
        }
    }
}
