/*
-------------------------------------------------
|               Experience Styling              |
-------------------------------------------------
*/
#experience {
    @include vertical-center();

    .experience-tile {
        display: inline-block;
        padding-left: 10px;
        padding-top: 10px;
        width: 50%;
        cursor: pointer;

        &:hover {
            .experience-text {
                color: #323232;
                text-shadow: 0 0 1px rgba(0,0,0,.5);
            }
            .experience-image {
                transform: scale(1.1);
                -webkit-filter: brightness(45%);
            }
        }
    }
    .experience-image-container {
        box-shadow: 1px 1px 1px #888888;
        height: 130px;
        overflow: hidden;
        position: relative;
    }
    .experience-image {
        @include transition(0.3s ease-in-out);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        -webkit-filter: brightness(70%);

        &.vodori {
            background-image: url('../data/media/vodori.jpg');
        }
        &.argonne {
            background-image: url('../data/media/argonne.jpg');
        }
        &.illinois {
            background-image: url('../data/media/illinois.JPG');
        }
        &.illini-media {
            background-image: url('../data/media/illini-media.jpg');
        }
        &.housing {
            background-image: url('../data/media/housing.jpg');
        }
        &.ultimate {
            background-image: url('../data/media/ultimate.jpg');
        }
        &.ultimate-website {
            background-image: url('../data/media/ultimate-website.jpg');
        }
    }
    .experience-text {
        color: #656565;
        font-size: 11px;
        margin: 0;
        padding-top: 3px;
        @include transition(0.3s);
        display: none;
    }
    .experience-text-overlay {
        @include vertical-center-2();
        @include transition(0.3s);
        font-size: 16px;
        color: white;
        opacity: 1;
        width: 100%;
        -webkit-backface-visibility: hidden;
        font-weight: bold;
        text-transform: uppercase;
        -webkit-text-stroke: 1px white;
        text-shadow: 1px 2px black;
        text-align: left;
        padding-left: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
    }

    // Tablet portrait styling (>767)
    @media #{($break-tablet-portrait)} {
        .experience-tile {
            width: 33%;
        }
        .experience-image-container {
            height: 170px;
        }
        .experience-text-overlay {
            font-size: 22px;
        }
    }

    // Tablet landscape styling (>1024)
    @media #{($break-tablet-landscape)} {
        .experience-tile {
            width: 25%;
        }
        .experience-image-container {
            height: 200px;
        }
        .experience-text-overlay {
            // padding-top: 15%;
        }
    }
}
