/*
-------------------------------------------
|               Home Styling              |
-------------------------------------------
*/
.home {
    // Local Variables
    $size-height--home-button:  100px;
    $size-width--home-button:   35px;
    $size-font--home-button:    4rem;

    // Styling
    height: 100%;
    overflow: hidden;

    .home-background-image {
        height: 100%;
        background-image: url("../data/images/home.jpg");
        background-size: cover;
        //background-position: 30%;
        background-position: center;
        //background-color: $color-blueElectric--navbar;
        background-attachment: scroll;
        background-blend-mode: multiply;
    }
    .home-content {
        @include vertical-center();
        position: absolute;
        left: 0;
        right: 0;
    }
    .home-text {
        color: white;
        font-size: $size-font--home-button;
        margin-bottom: 1rem;
    }
    .home-button {
        width: $size-height--home-button;
        height: $size-width--home-button;
        margin: 0 auto;
        border: 1px solid white;
        cursor: pointer;
        position: relative;
    }
    .home-button-link {
        color: white;
        text-decoration: none;
        @include vertical-center-2();
    }

    // Tablet portrait styling (>480)
    @media #{($break-tablet-portrait)} {
        .home-background-image {
            background-attachment: fixed;
        }
    }

    // Tablet landscape styling (>767)
    @media #{($break-tablet-portrait)} {
        .home-text {
            font-size: 5rem;
            margin-bottom: 30px;
        }
    }
}
