/*
-------------------------------------------
|               Home Styling              |
-------------------------------------------
*/
#home {
    // Local Variables
    $size-height--home-button:  100px;
    $size-width--home-button:   35px;
    $size-font--home-button:    4rem;

    // Styling
    @include transform(translateZ(0));
    height: 100%;
    overflow: hidden;

    .home-background-image {
      @include transform(scale(1.1));
      height: 100%;
      position: fixed;
      left: 0;
      right: 0;
      background-image: url("../data/media/home.jpg");
      background-size: cover;
      background-position: center;
    //   background-color: $color-blueElectric--navbar;
  	  background-blend-mode: multiply;
      background-attachment: fixed;
    }
    .home-content {
        @include vertical-center();
    }
    .home-text {
        color: white;
        font-size: $size-font--home-button;
    }
    .home-button {
        width: $size-height--home-button;
        height: $size-width--home-button;
        margin: 0 auto;
        border: 1px solid white;
        cursor: pointer;

        &.hover {
            background-color:white;
        }
    }
    .home-button-text {
        @include vertical-center();
    }
    .home-button-link {
        color: white;
        text-decoration: none;
    }

    // Tablet portrait styling (>767)
    @media #{($break-tablet-portrait)} {
        .home-text {
            font-size: 5rem;
            margin-bottom: 30px;
        }
    }
}
