{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "plugins": [
    "import"
  ],
  "rules": {},
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  }
}