/* Navbar */
/* Fonts */
/* GENERAL */
#fullpage .section:nth-child(even) {
  background-color: #404040; }

#fullpage .section:nth-child(odd) {
  background-color: #808080; }

#fullpage .section {
  color: white;
  text-align: center;
  padding-top: 50px; }

html, body {
  font-family: "Rubik", sans-serif; }

/* NAVIGATION */
.navbar {
  background-color: #efefef;
  height: 50px;
  border: 0;
  /* Outer list element */
  /* Inner list elements */
  /* Inner list link */
  /* Mobile menu */
  /* Mobile menu header */
  /* Desktop styling */ }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top; }
  .navbar .nav-links-container {
    /* Active link */
    /* Non-active links */ }
    .navbar .nav-links-container.active a.nav-links {
      background-color: #47a3da !important;
      color: #efefef !important; }
    .navbar .nav-links-container:not(.active) a.nav-links:hover {
      color: #1f6d9c !important;
      background-color: #e2e2e2 !important; }
  .navbar a.nav-links {
    color: #47a3da !important; }
  .navbar .navbar-collapse {
    text-align: center;
    background-color: white; }
  .navbar .navbar-header {
    border-bottom: 1px solid #efefef; }
  @media only screen and (min-width: 768px) {
    .navbar .navbar-collapse {
      background-color: #efefef; } }
