/* Navbar */
$color--navbar-background: 			#efefef;
$color--navbar-active-text: 		#47a3da;
$color--navbar-active-background: 	#555555;
$navbar-height: 50px;

/* Fonts */
$font--site-font:       'Rubik', sans-serif;
